body {
	font-family: serif;
	background: #222124;
}

h1 {
	color:#A09E86;
}

a {
	text-decoration: none;
	color:#D6D1B6;
	text-transform: uppercase;
	font-weight: bold;
	display: inline-block;
	transition: all 0.7s ease;
	-webkit-transition: all 0.7s ease;
}

a:hover {
	background: #303030;
	transition: all 0.7s ease;
	-webkit-transition: all 0.7s ease;
}

img.preview {
	display: block;
	width: 200px;
}

div.tanks-thumbnails {
	width: 200px;
}

div.tank-model-preview {
	padding: 10px 5px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

img.country {
	width: 20px;
}

span.level {
	color:#879385;
}

span {
	margin-left: 5px;
	font-size: 1.2em;
}
