* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.wrapper {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}
p,
h3,
header,
footer nav div  {
	font-family: 'Open Sans', sans-serif;
}

/* Styling Header */
header {
	background: url("../img/apples.jpg") no-repeat;
	background-size: cover;
	color:#fff;
	height: 100vh;
	padding-bottom: 50px;
}

h1 {
	font-weight: normal;
	font-size: 0.9em;
	letter-spacing: 2px;
}

div.brand, h1 {
	text-transform: uppercase;
}

nav {
	display:flex;
	justify-content: space-between;
}

header nav li a {
	color:#fff;
	text-decoration: none;
	font-size: 0.9em;
	padding:15px 10px;
}

header nav ul, h1 {
	margin-top: 30px;
}

nav li {
	list-style-type: none;
	padding:0 15px;
	display: inline-block;
	position: relative;
}

header nav li:after {
	content: '';
	display: block;
	height: 2px;
	margin: 10px auto;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

header nav li:hover:after {
	width: 100%;
	background: #B1C9DB;
}

a.more {
	background:rgba(0,0,0,0.6);
	padding: 15px;
	border: 2px solid #fff;
	color:#fff;
	text-decoration: none;
	display: block;
	width: 200px;
	text-align: center;
	margin:0 auto;
	font-size: 0.85em;
	transition: all 1.2s ease;
	-webkit-transition: all 1.2s ease;
}

a.more:hover {
	background:rgba(0,0,0,0.4);
	transition: all 1.2s ease;
	-webkit-transition: all 1.2s ease;
}

div.brand-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 70vh;
}

div.brand {
	font-size: 2.5rem;	
	letter-spacing: 10px;
	position: relative;
}

div.brand-wrap p {
	font-size: 0.9em;
}

div.brand span.amp {
	font-size: 4.5rem;	
}

div.brand sup.tm {
	font-size: 0.3em;
	position: absolute;
	top:44%;
	letter-spacing: normal;	
}

/* style section 1*/

section.section-1 {
	display: flex;
	justify-content: space-around;
	padding: 100px 0;
}

section.section-1 h3 {
	font-size: 1.125rem;
	padding:0 100px 0 100px;
	width: 50%;
	font-weight: normal;
}

section.section-1 p{
	font-size: 0.72rem;
	width: 50%;
	padding:0 100px 0 0;
}

/* style section main */

div.main {
	background-color: #F3F3F3;
	text-align: center;
	padding-bottom: 100px;
}

div.main h3 {
	padding: 100px 0 50px;
	font-weight: normal;
}

div.main article .article {
	background-color: blue;
	position: relative;
}

div.main article .article h3 {
	color:#EAEAEA;
	position: absolute;
	bottom:25px;
	left:30px;
	font-size: 1em;
	padding:0;
}

div.main article .article h3 strong {
	color:#fff;
}

div.main article {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 1.5em;
	grid-auto-rows: 300px;
}

div.main article .article a {
	font-family: 'Open Sans', sans-serif;
	padding:7px 13px;
	border:2px solid #fff;
	color:#fff;
	text-decoration: none;
	position: absolute;
	top:20px;
	right: 20px;
	background: rgba(0,0,0,0.4);
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}

div.main article .article a:hover {
	background: rgba(0,0,0,0.5);
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}

div.main article .article-1, 
div.main article .article-2,
div.main article .article-3,
div.main article .article-4 {
	background-size: cover;
	border: 2px solid #fff;
	background-position: center; 
}

div.main article .article-1 {
	background: linear-gradient(
		rgba(0, 0, 0, 0.2), 
		rgba(0, 0, 0, 0.2)
		), url("../img/sample.jpg") no-repeat;
	border-bottom: 2px solid #CDCDCD;
	grid-column: 1 / 3;
}

div.main article .article-2 {
	grid-column: 3 / 4;
}

div.main article .article-2,
div.main article .article-3 {
	background: linear-gradient(
		rgba(0, 0, 0, 0.2), 
		rgba(0, 0, 0, 0.2)
		), url("../img/sample2.jpg") no-repeat;
}

div.main article .article-3 {
	grid-column: 1 / 2;
}

div.main article .article-4 {
	background: linear-gradient(
		rgba(0, 0, 0, 0.2), 
		rgba(0, 0, 0, 0.2)
		), url("../img/sample3.jpg") no-repeat;
	border-bottom: 2px solid #CDCDCD;
	grid-column: 2 / 4;
}

div.main div.subscribe {
	margin: 70px 0 0;
	background-color: #fff;
	padding:60px 0;
	text-align: left;
	display: flex;
	justify-content: space-around;
}

div.main div.subscribe  p {
	font-size: 1.2em;
	padding:15px;
}

div.main div.subscribe div {
	width: 50%;
}

input[type="text"] {
	background: #F3F3F3;
}

input[type="submit"] {
	background:#303335;
	color:#fff;
	margin-left: -4px;
	cursor: pointer;
}
div.main div.subscribe div input[type="text"] {
	width: 70%;
	padding:17px 30px;
}

div.main div.subscribe div input[type="submit"] {
	padding:17px 35px;
	width: 30%;
}

input {
	color:#303335;
	border:1px solid #303335;
	font-size: 0.9em;
	outline: none;
}
::placeholder {
	color:#000000;
}

/* Styling footer */

footer {
	background-color: #fff;
}

footer section.section-2 {
	display: grid;
	grid-template-columns: 20% 20% 20% 25%;
	grid-gap: 3em;
	padding: 100px 0;
	border-bottom: 2px solid #F0F0F0;
}

footer section.section-2 h3 {
	margin-bottom: 15px;
}

footer nav{
	padding: 30px 0;
}

footer nav div {
	font-size: 0.9em;
	color:#9F9F9F;
}

footer nav li a {
	color:#000;
	text-decoration: none;
}

footer div.b-and-w-f,
footer div.newsletter {
	line-height: 25px;
}

footer div.contact p{
	padding-bottom: 10px;
}

footer div.tweet p.hours-ago {
	color:#DCDCDC;
	padding-top: 10px;
}

footer div.section-block p{
	color:#9F9F9F;
}

footer div.newsletter div {
	width: 100%;
	padding-top: 25px;
}

footer div.newsletter div input[type="text"] {
	width: 60%;
	padding:15px 20px;
}

footer div.newsletter div input[type="submit"] {
	padding:15px 5px;
	width: 36%;
}