* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.wrapper {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

/* Styling Header */

header {
	background: url("../img/apples.jpg") no-repeat;
	background-size: cover;
	color:#fff;
	height: 100vh;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 50px;
}

h1 {
	font-weight: normal;
	font-size: 0.9em;
	letter-spacing: 2px;
}

div.brand, h1 {
	text-transform: uppercase;
}

nav {
	display:flex;
	justify-content: space-between;
}

nav li a {
	color:#fff;
	text-decoration: none;
	font-size: 0.9em;
	padding:15px 10px;
}

nav ul, h1 {
	margin-top: 30px;
}

nav li {
	list-style-type: none;
	padding:0 15px;
	display: inline-block;
	position: relative;
}

nav li:after {
 	content: '';
	display: block;
	height: 2px;
	margin: 10px auto;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}

nav li:hover:after {
 	width: 100%;
	background: #B1C9DB;
}

a.more {
	background:rgba(0,0,0,0.6);
	padding: 15px;
	border: 2px solid #fff;
	color:#fff;
	text-decoration: none;
	display: block;
	width: 200px;
	text-align: center;
	margin:0 auto;
	font-size: 0.85em;
}

div.brand-wrap {
	display: flex;
	align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

div.brand {
	font-size: 2.5rem;	
	letter-spacing: 10px;
	position: relative;
}

div.brand-wrap p {
	font-size: 0.9em;
}

div.brand span.amp {
	font-size: 4.5rem;	
}

div.brand sup.tm {
	font-size: 0.3em;
	position: absolute;
	top:45%;
	letter-spacing: normal;	
}