$backgroundBody: #DCBB9A;
$backgroundContent: #fff;
$mainColor:#893C00;
$textTransformH:capitalize;
$textColorP:#000;

$labelColor:#808080;
$borderInput:#e0e0e0;
$inputSubmit:#3d70a1;

$floatBrief:left;
$backgroundBrief:#FADCBA;
$widthBrief:40%;
$paddingBrief:15px 30px 15px 20px;
$marginBrief:0 15px 10px 0;

$linkColor:#3d70a1;

$backgroundTh:#E0E0E0;
$backrgroundBorderTr:1px solid #E0E0E0;
$backgroundTr:null;