$backgroundBody: rgba(198, 238, 252, 0.53);
$backgroundContent: #3b3b3b;
$mainColor:#fccd10;
$textTransformH:uppercase;
$textColorP:#fff;

$labelColor:#f5c70f;
$borderInput:#94a34e;
$inputSubmit:#f5c70f;

$floatBrief:none;
$backgroundBrief:#FFF178;
$widthBrief:null;
$paddingBrief:15px 0px 15px 15px;
$marginBrief:10px 0 30px;

$linkColor:#F5C70F;

$backgroundTh:#94A34E;
$backrgroundBorderTr:1px solid #94A34E;
$backgroundTr:#677D01;